<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>列表渲染-基本语法</title>
<style type="text/css">
	h1,h5,p,div{padding: 10px;}
</style>
</head>
<body>
<div id="example">
<h1>基本语法</h1>
<ul>
  <li v-for="item in items">
    {{ parentMessage }} - {{ $index }} - {{ item.message }}
  </li>
</ul>
<h1>template渲染</h1>
<ul>
  <template v-for="item in items">
    <li>{{ item.message }}</li>
    <li class="divider">template渲染</li>
  </template>
</ul>
<h1>对象渲染</h1>
<ul>
  <li v-for="(key, value) in object">
    {{ key }} : {{ value }}
  </li>
</ul>
<h1>整数迭代</h1>
<div>
  <span v-for="n in 10">{{ n }} </span>
</div>
</div>	
<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var example = new Vue({
	  el: '#example',
	  data: {
	  	parentMessage: 'Parent',
	    items: [
	      { message: 'Foo' },
	      { message: 'Bar' }
	    ],object: {
	      FirstName: 'John',
	      LastName: 'Doe',
	      Age: 30
	    }
	  }
	})
</script>
</body>
</html>
